html {
  box-sizing: border-box;
}


*, 
*::before, 
*::after {
  box-sizing: inherit;
}

:root {
  font-size: 62.5%;
}

body {
  background-color: #E8E8E4;
  font-family: 'Barlow', sans-serif;
  margin: 0;
}

.avatar {
  border-radius: 50%;
  margin: auto;
  display: block;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: #728078;
}

a:hover{
  color: #9a8c98;
}

h1 {
  font-size: 4.2rem;
  font-family: 'Bebas Neue', cursive;
}

h2 {
  font-size: 2.8rem;
  font-family: 'Taprom', cursive;;
}

h3 {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
}

h4 {
  font-size: 1.5rem;
  font-family: 'Barlow', sans-serif;
  font-weight: 500;
}

p {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

ul {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

table {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

form {
  font-size: 1.6rem;
  font-family: 'Barlow', sans-serif;
}

button {
}
